<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

		<title>Food Express</title>
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
		<script src="../js/profile.js" defer></script>
		

        <link rel="stylesheet" type="text/css" href="/css/custom.css">
        <link rel="stylesheet" type="text/css" href="/css/style.css">
	</head>
<body>
	<!-- Top Nav -->
	<nav class="navbar navbar-expand-md bg-dark navbar-dark sticky-top">
		<a class="navbar-brand" href="#">
			<img src="images/ClipartKey_1633604.png" style="width:30px; height:30px" class="d-inline-block align-top" alt="logo">
			Food Express
		  </a>
		<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navb" aria-expanded="true">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div id="navb" class="navbar-collapse collapse hide">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" href="/">HOME</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#footer">CONTACT US</a>
				</li>
			</ul>
			<ul class="nav navbar-nav ml-auto">
				<li class="nav-item">
					<a class="nav-link"><span class="fas fa-user"></span><%= user.email %></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/profile"><span class="fas fa-sign-in-alt"></span>Profile</a>
				</li>
				<li>
					<button type="button" class="btn btn btn-danger" onclick="window.location='/logout';">Logout</button>
				</li>
			</ul>
		  </div>
	</nav>

	<div class="container">
		<div style="height:30px;"></div>
		<!-- Account-->
			<div class="card">
			  <!-- image -->
			 
			  <img src="https://cdn1.iconfinder.com/data/icons/flat-business-icons/128/user-128.png" id="profilepic" width="10" height="150">
			  <!-- Card content -->
			  <div class="card-body">
			    <!-- Title -->
			    <h4 class="card-title"><a>Your Account</a></h4>
			    <!-- Text -->
			    <ul class="list-group list-group-flush">
						<!-- <li class="list-group-item list-group-item-primary text-center"><%= user.name %></li> -->
						<li class="list-group-item"><strong><span class="fa fa-envelope"></span>Email : </strong><%= user.email %></li>
						<% if(isCustomer){ %>
							<li class="list-group-item"><strong><span class="fa fa-user"></span>User name : </strong><%= user.name %></li>
						<% } else { %>  
							<li class="list-group-item"><strong><span class="fa fa-user"></span>Restaurant name : </strong><%= user.name %></li>
							<% if (typeof(total) !="undefined") {%>
							<li class="list-group-item"><strong><span class="fa fa-dollar-sign"></span>Total earnings : </strong>$ <%= total %></li>
							<% } %>
						<% } %>
						<li class="list-group-item"><strong><span class="fa fa-address-book"></span>Address : </strong><%= user.address %></li>
						<li class="list-group-item"><button type="button" class="btn btn-danger" onclick="window.location='/logout';">Logout</button></li>
					</ul>
				    
			    <!-- Button -->
			  </div>
			</div>
		<!-- Account-->
		<!-- Pending order -->

		<div style="height:30px;"></div>

			<% if(isCustomer) { %>
				<% if (typeof(pendingOrders) !="undefined" && pendingOrders.length > 0) {%>
					<!-- <h3 style="color: black; text-align: left;" >Pending Orders</h3>
					<% for(var i=0; i<pendingOrders.length; i++) { %>
						<div class="form-row">
							<div class="form-group">
								The order from <%= pendingOrders[i].rest_name %> with the total cost of <%= pendingOrders[i].total %> is pending
							</div>
						</div> -->
						<div id="accordion">
						  <div class="card">
						    <div class="card-header" id="headingOne">
						      <h5 class="mb-0">
						        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
						         <h3 style="color: black; text-align: left;" >Pending Orders</h3>
						        </button>
						      </h5>
						    </div>
						    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
						      <div class="card-body">
						       <% for(var i=0; i<pendingOrders.length; i++) { %>
								<div class="form-row">
									<div class="form-group">
										The order from <%= pendingOrders[i].rest_name %> with the total cost of $<%= pendingOrders[i].total %> is pending
									</div>
								</div>
							<% } %>
						      </div>
						    </div>
						  </div>
					
					<% } %>
				<% } %>
				<% if (typeof(oldOrders) !="undefined" && oldOrders.length > 0) {%>
					
					  <div class="card">
						<div class="card-header" id="headingTwo">
					      <h5 class="mb-0">
					        <!-- <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"> -->
					     	<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
					     	<h3 style="color: black; text-align: left;" >Previous Orders</h3>
					        </button>
					      </h5>
					    </div>
				       <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
					      <div class="card-body">
					       <% for(var i=0; i<oldOrders.length; i++) { %>
							<div class="form-row">
								<div class="form-group">
									The order from <%= oldOrders[i].rest_name %> with the total cost of $<%= oldOrders[i].total %> has been delivered to you
								</div>
							</div>
							<% } %>
					      </div>
					    </div>
					  </div>
					</div>
				</div>
			<% } %>
	<% } %>
	<% if(!isCustomer){ %>
		<% if (typeof(existingMenuItems) !="undefined") {%>
		    <div class="container">
				<div style="height:30px;"></div>
				<!-- Account-->
					<div class="card">				  
					  <!-- Card content -->
					  <div class="card-body">
					    <!-- Title -->

					    <h4 class="card-title" style="color: black; "><a>Edit your Menu here</a></h4> <hr>
					    <!-- Text -->
					    <div style="height:20px;"></div>
					  	 <ul  style="list-style-type: lower-roman;" >
							<% for(var i=0; i<existingMenuItems.length; i++) { %>
								<div class="form-row">
								<div class="form-group" >
								<% let act = "/profile/removeItems/" + existingMenuItems[i].id %>
								<form action = <%= act%> method="GET" id = <%= existingMenuItems[i].id%>>
									<li class="form-group" >
										<%= existingMenuItems[i].name %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
										<button type="submit" class="btn btn-primary create-account">Delete Item</button>
									
									</li>
								</form>

								</div>
								</div>

							<%} %>
							</ul>

					 </div>
					</div>
				</div>
				<% } %>
				<% if (typeof(pendingOrders) !="undefined" && pendingOrders.length > 0) {%>
					
					<div class="container">
									<div style="height:30px;"></div>
									<!-- Account-->
										<div class="card">				  
										  <!-- Card content -->
										  <div class="card-body">								    
										    <!-- Text -->
											 <h3 style="color: black; text-align: left;" > Pending Orders</h3><hr>
											 <div style="height:30px;"></div>

												<% for(var i=0; i<pendingOrders.length; i++) { %>
													<% let act = "/profile/sendorder/" + pendingOrders[i][0].order_id%>
														<form id = "sendOrder" method="GET" action=<%=act%>>&#10065;
															<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample<%= pendingOrders[i][0].order_id %>" aria-expanded="false" aria-controls= <%= pendingOrders[i][0].order_id%>>Order <%= pendingOrders[i][0].name%> Total: $<%= pendingOrders[i][0].total%></button>
																<div style="height:30px;"></div>
																	<div class="collapse" id="collapseExample<%= pendingOrders[i][0].order_id %>">
																		<div class="card card-body">
																			<p>Address: <%= pendingOrders[i][0].address%></p>
																			<% for(var j=0; j<pendingOrders[i].length; j++) { %>
																				<p><%= pendingOrders[i][j].item_name%> : <%= pendingOrders[i][j].quantity%></p>
																			<% } %>
																<button class="btn btn-primary create-account" type="submit">Send Order</button>
														</form>
													</div>
													</div>
												<% } %>
												<br />
											<% } %>	



											<h3 style="color: black; text-align: left;"  >Create your Menu here</h3><hr>
											<div class = "row justify-content-md-center" id="alert"></div>
											<div class="form-row">
												<form action="/register_seller" method="POST" id="menuItems" class="text-center">
													<div class="row justify-content-center">
														<h5 style="color: black; text-align: left">Please add the dishes with prices for your restaurant</h5>
														<div class="input-group col-sm-9">
															<input type="text" class="form-control" id="dish1" name="dish1" placeholder="Dish #1">
															<input type="text" class="form-control" id="dishprice1" name="dishprice1" placeholder="Price ($)">
														</div>
														 <div style="height:30px;"></div>
														<div class="form-group">
															<!-- <label for="exampleFormControlFile1">Dish 1 Image</label> -->
															<!-- <p>Dish image</p> -->
															<input type="file" class="form-control-file" id="dishimg1" name="dishimg1">
														</div>
													</div>
													<div class="form-group">
														<button type="submit" class="btn btn-primary create-account">Add Item</button>
													</div>
												</form>
											</div>
										<% } %>

									 </div>
								</div>
							</div>				
	</div>

	<% if (typeof(isAdmin) !="undefined" && isAdmin) {%>
		<div class="accordion" id="accordionExample">
			<div class="card">
				<div class="card-header" id="customerHeading">
					<h2 class="mb-0">
					<button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#customerData" aria-expanded="true" aria-controls="customerData">Customers</button>
					</h2>
				</div>
				<div id="customerData" class="collapse show" aria-labelledby="customerHeading" data-parent="#accordionExample">
					<div class="card-body">
						<table style="width:100%">
							<tr>
								<th>Customer Name</th>
								<th>Customer Email</th>
								<th>Customer Address</th>
								<th>Action</th>
							</tr>
							<% for(var i=0; i<customer.length; i++) { %>
								<% let act = "/profile/delUser/" + customer[i].id%>
								<tr>
									<td><%= customer[i].name%></td>
									<td><%= customer[i].email%></td>
									<td><%= customer[i].address%></td>
									<td><form action=<%= act%> method="GET"><button type="submit" class="btn btn-danger">Delete Customer</button></form></td>
								</tr>
							<% } %>
						</table>
					</div>
				</div>
				</div>
			</div>
			<div class="card">
				<div class="card-header" id="sellerHeading">
					<h2 class="mb-0">
					<button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#sellerData" aria-expanded="true" aria-controls="sellerData">Restaurants</button>
					</h2>
				</div>
				<div id="sellerData" class="collapse show" aria-labelledby="sellerHeading" data-parent="#accordionExample">
					<div class="card-body">
						<table style="width:100%">
							<tr>
								<th>Restaurant Name</th>
								<th>Restaurant Email</th>
								<th>Restaurant Address</th>
								<th>Restaurant Category</th>
								<th>Action</th>
							</tr>
							<% for(var i=0; i<seller.length; i++) { %>
								<% let act = "/profile/delUser/" + seller[i].id%>
								<tr>
									<td><%= seller[i].name%></td>
									<td><%= seller[i].email%></td>
									<td><%= seller[i].address%></td>
									<td><%= seller[i].category%></td>
									<td><form action=<%= act%> method="GET"><button type="submit" class="btn btn-danger">Delete Restaurant</button></form></td>
								</tr>
							<% } %>
						</table>
					</div>
				</div>
				</div>
			</div>
		</div>
	<% } %>

<div style="height:30px;"></div>
 <!-- Footer -->
    <footer id="footer">
        <!-- Container -->
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-4 col-xs-12 pull-right">
                    <div class="basic_info">
                         <h3 style="color: white;">Get to know us</h3>
                    </div>
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0" >
                          <li class="nav-item active" >
                         <a href="" style="color: white;">   About Food Express </a>
                          </li>
                          <li class="nav-item active">
                           <a href="" style="color: white;">   Our App </a>
                          </li>
                          <li class="nav-item active">
                           <a href="" style="color: white;">    List New Restaurant </a>
                          </li>
                          <li class="nav-item active">
                           <a href="" style="color: white;">   For Corporate Account  </a>
                          </li>
                        </ul>
                </div>   
                <div class="col-lg-3 col-sm-4 col-xs-12 col-lg-offset-1 pull-right">
                    <div class="contact_us">
                        <h3 style="color: white;">Contact Us</h3>
                        <a href="">info@foodexpress.com</a>
                        <address>
                            Walnut Street, Pittsburgh<br />
                            PA 15221 <br />
                            USA <br />
                        </address>
                    </div>  
                </div>              
                <div class="col-lg-4 col-sm-4 col-xs-12 col-lg-offset-1 pull-right">
                      <div class="basic_info">
                         <h3 style="color: white;">Connect with us</h3>
                         <a class="fb-ic mr-3" role="button"><i class="fab fa-lg fa-facebook-f"></i></a>
                        <!--Twitter-->
                        <a class="tw-ic mr-3" role="button"><i class="fab fa-lg fa-twitter"></i></a>
                        <!--Google +-->
                        <a class="gplus-ic mr-3" role="button"><i class="fab fa-lg fa-google-plus-g"></i></a>
                        <!--Linkedin-->
                        <a class="li-ic mr-3" role="button"><i class="fab fa-lg fa-linkedin-in"></i></a>
                        <!--Instagram-->
                        <a class="ins-ic mr-3" role="button"><i class="fab fa-lg fa-instagram"></i></a>
                    </div>
                </div>  
                
            </div>
        </div><!-- Container end -->
    </footer><!-- Footer end -->



</body>
</html>
